@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body{
    background: #3063d3;
}
.wrapper{
    margin-top: 60px;
    text-align: center;
}
.wrapper h1{
    font-family: 'Yatra One' , cursive;
    font-size:48px;
    color:#fff;
    margin-bottom: 25px;
}

.my_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;

}


